
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-size: 1em;
  height: 100vh;
  background-color: #1f1f1f;
  padding: 4vw;
  max-width: 1400px;
  margin: 0 auto;
}
header {
    text-align: center;
    display: flex;
    align-items: center;
  }
.logo{
    display: flex;
flex-direction: column;
    width: 80%;
}
.logo img{
    max-width: 200px;
    max-height: 200px;
}

nav {

    display: flex;
  
  
  }
  nav ul {
  
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    list-style: none;
    height: 80px;
    padding-left: 0;
  }
  nav a{
      text-decoration: none;
      color: #dfcba2;
      border-bottom: 1px solid #83796a;
  padding-bottom: 2px;
      padding:  6px;
  }
  nav a:hover{
      color:#83796a;
      background-color:#dfcba2;
  }


.users {

    width: 20%;
    height: 100%;
      display: flex;
      align-self: start;
      justify-content: space-around;
      padding-top: 15px;
    }
    .users a {
        text-decoration: none;
        color: #83796a;
        font-size: 1.2em;
        border-bottom: 1px solid #83796a;
        padding-bottom: 2px;
        height: fit-content;
    } 
    .users a:hover{
        transform: scale(1.1);
    }
    
    
    /* MAIN */
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70vh;
    padding-bottom: 40px;
    position: relative;
}
.bg-img{
    position: absolute;
    margin-top:50px;
    z-index: -1;
}
h1 {
  font-size: 50px;
  color: #dfcba2;

}
main p {
  text-align:justify;
  width: 45%;
  color: #83796a;
  font-size: 1.1em;
  line-height: 1.4em;
}



footer{
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}
footer ul{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    width: 80%;
}
footer ul li{
    width: 25%;
    padding: 5px 20px;
    display: flex;
    justify-content: center;

}
footer a{
    text-decoration: none;
    text-align: center;
    color: #83796a;
    font-size: 0.9em;
    width: 100%;
}
